@import "./config/vars"

// Admin Page General Styles
.bottomNavigation
  position: fixed
  top: auto
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  padding: 28px 16px
  box-shadow: 0 -1px 0 0 transparentize($white, 0.84)
  background: $dark
  z-index: 100
  .buttonWrapper
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    box-sizing: border-box
    grid-gap: 16px
    max-width: 800px
    margin: auto
    width: 100%
    .buttonPrimary
      width: 100%
      background: $color3
      color: $light
      font-weight: 800
      border-radius: 8px
      max-width: 800px
      padding: 11px 16px
      text-align: center
      &:hover
        background: darken($color3, 5%)
        filter: none
    .buttonSecondary
      width: 100%
      background: none
      color: $color3
      border: 1px solid $color3
      font-weight: 800
      border-radius: 8px
      max-width: 800px
      padding: 11px 16px
      text-align: center
      &:hover
        border: 1px solid darken($color3, 5%)
        filter: none
        color: darken($color3, 5%)

.contentWrapper
  width: 100%
  max-width: 832px
  margin: auto
  padding: 224px 16px 132px 16px
  h1
    margin: 0
    font-weight: 800
  .podcastMeta
    list-style: none
    padding: 0
    margin: 1rem 0 2rem 0
ul.adminPodcastList
  list-style: none
  margin: 0
  padding: 16px 0 0 0
.adminPodcastListItemLink:hover
  color: darken($light, 15%)
  &:active
    color: darken($light, 25%)
li.adminPodcastListItem
  padding: 16px 0
  margin: 0
  box-shadow: 0 1px 0 0 transparentize($white, 0.84)
h2.adminPodcastListItemTitle
  margin: 0 0 4px 0
  padding: 0
  font-size: 1.375rem
  font-weight: 800
.adminPodcastListMetaItem

  margin: 0 16px 0 0
p.adminPodcastListItemExcerpt
  margin: 16px 0 0 0
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  overflow: hidden
  *
    margin: 0 0 0 0
    padding: 0 0 0 0
    display: inline-block
    pointer-events: none
    cursor: default
    text-decoration: none
    color: inherit
  br
    display: none
  p
    display: inline

// Add Page
form.podcastForm
  margin: 16px auto
  width: 100%
  display: grid
  grid-template-columns: 1fr
  grid-gap: 16px

  progress[value]
    -webkit-appearance: none
    appearance: none
    height: 8px
    border-radius: 4px
    overflow: hidden
    width: 100%

  progress::-webkit-progress-bar
    background-color: $light
  progress::-webkit-progress-value
    background-color: $color2
  .inputWrapper
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 4px
    user-select: none
    input, button, textarea, select
      outline: none
    input, textarea, select
      background: $light
      border: none
      padding: 16px
      margin-bottom: 1px
      &::placeholder
        color: $dark
      &:first-of-type
        border-radius: 8px 8px 0 0
      &:last-of-type
        border-radius: 0 0 8px 8px
      &:only-of-type
        border-radius: 8px
    .rte
      height: auto
      background: $light
      color: $dark
      font: inherit
      font-size: inherit
      .editorClassName, .toolbarClassName
        backgound: pink
        height: 1000px

  .addFile
    position: relative
    width: 100%
    height: 100px
    border-radius: 8px
    border: 1px dashed $light
    background: transparentize($light, 0.95)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    overflow: hidden
    text-align: center
    user-select: none
    label
      // position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      font-weight: 800
      z-index: 2
      text-align: center
      &:hover
        color: darken($light, 15%)
      &:active
        color: darken($light, 25%)
    input
      // position: absolute
      // opacity: 0
      z-index: 1
      cursor: pointer
      text-align: center
      // margin: 20px 0 0 0
      color: $light
      &::-webkit-file-upload-button
        visibility: hidden

  button, a
    border-radius: 8px
    background: $color3
    padding: 16px
    border: none
    margin-top: 15px
    font-weight: 800
    color: $light
    text-align: center
    &:hover
      cursor: pointer
      background: darken($color3, 5%)
  a
    border: 1px solid $color1
    background: none
    color: $color1
    &:hover
      filter: none
      background: none
      opacity: .75
